<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ngb-tabset>
        <ngb-tab title="USER PROFILE">
          <ng-template ngbTabContent>
            <br>
            <div class="container-fluid">
              <form ngNativeValidate (ngSubmit)="btadduser()">
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="col-5">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">User ID</span>
                          <input type="number" class="form-control" #id (keyup)="checknum(id.value,id.name)" [(ngModel)]="users.User_ID" name="User_ID"
                            required max="999999">
                          <span class="input-group-addon"><i class="fa fa-close"></i></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">Username</span>
                          <input type="text" class="form-control" [(ngModel)]="users.Username" name="Username" maxlength="8" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">Password</span>
                          <input type="text" class="form-control" [(ngModel)]="users.Password" name="Password" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="col-6">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">First Name</span>
                          <input type="text" class="form-control" [(ngModel)]="users.Firstname" name="Firstname">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">Last Name</span>
                          <input type="text" class="form-control" [(ngModel)]="users.Lastname" name="Lastname">
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">Category</span>
                          <input type="text" class="form-control" [(ngModel)]="users.Category" name="Category" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">ADD USER</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            TABLE USER</ng-template>
          <ng-template ngbTabContent>
            <br>
            <app-user-table></app-user-table>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
